@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #01b82b;
  -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
  transition: background-color 5000s ease-in-out 0s;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
    .with-transition {
        @apply ease-in-out duration-500 transition-all;
    }
    .line-left {
        @apply flex justify-start items-center;
    }
    .line-right {
        @apply flex justify-end items-center;
    }
    .line-center {
        @apply flex justify-center items-center;
    }
    .line-around {
        @apply flex justify-around items-center;
    }
    .line-between {
        @apply flex justify-between items-center;
    }
    .line-evenly {
        @apply flex justify-evenly items-center;
    }
    .col-center {
        @apply flex flex-col items-center;
    }
    .col-left {
        @apply flex flex-col items-start;
    }
    .focused {
        @apply border-none focus:border focus:border-orange-500;
    }
    .button {
        @apply justify-center hover:opacity-50 items-center text-xs	 text-center relative inline-flex flex-shrink-0 border rounded cursor-pointer focus:outline-none;
    }
    .focus-ring {
        @apply focus:outline-none focus:ring ring-offset-2 ring-offset-gray-400 focus:ring-orange-500;
    }
    .transparent-in {
        @apply bg-transparent text-sm py-2 pl-3 pr-8 outline-none border-b border-b-gray-200/50 focus:border-b-gray-200 text-white placeholder:text-white/20;
    }
}